gymnasium[atari]==1.0.0
ale-py==0.10.2
tensorboard==2.19.0
opencv-python==4.11.0.86
numpy
pygame
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
#conda Python 3.11 (C:\Users\cmanw\anaconda3\shell\condabin\conda-hook.ps1) ; (conda activate pongpong)
# To start training the upgraded agent:
# ```bash
# python train.py
# ```

# To test/evaluate the trained model:
# ```bash
# python test.py
# ```